.header_search_panel .header_search_panel_container .menu_burger .burger_text {
    margin-left:0;
}

h1 {
    display: none;
}

.breadcrumbs {
    padding: 0 10px 10px 0;
    font-size:14px;
}

.breadcrumb {
    font-size: inherit;
    color: #2063A6;
}

.breadcrumb:last-child {
    color: #000;
}

.breadcrumb:before {
    content: '>';
    color: rgba(0,0,0,0.7);
    vertical-align: top;
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    margin: 0 10px 0 8px;
    -webkit-font-smoothing: antialiased;
}

thead {
    display: none;
    border-width: 0;
}

tbody > tr:first-child {
    display: none;
}

table>thead>tr,
table>tbody>tr {
    border-bottom: 1px solid #f3f0f0;
}

td, th {
    padding: 15px 15px 15px 0;
}

td > a {
   padding: 7px 0 5px 30px;
}

.page-footer .footer-copyright .container {
    border-top-width: 0;
}

.page-footer {
    padding-top: 0;
}

/* Icons */
#list a {
    background: url('/voshod_avto_certs/img/ic_download_blue_24.svg') left center no-repeat;
}

#list a[href$="/"],
#list a[href*="/?"] {
    background: url('/voshod_avto_certs/img/ic_folder_blue_24.svg') left center no-repeat;
}

@media (max-width: 800px) {
    .header_search_panel .header_search_panel_container .menu_burger .burger_text {
        display: block;
    }
}
